@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roobert";
    background: #0e0e10;
    color: #efeffe;
    display: flex;
    flex-flow: row wrap;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
}

header nav{
    height: 50px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background: #0e0e10;
    z-index: 0;
}

header nav a{
    color: #efeffe;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 20pt;
    font-weight: 600;
    margin: auto 0px;
    display: inline-flex;
}

header nav a:hover{
    text-decoration: underline;
    filter: invert(55%) 
            sepia(79%) 
            saturate(7499%) 
            hue-rotate(251deg) 
            brightness(102%) 
            contrast(101%);
}

aside{
    background: #1f1f23;
    height: 100vh;
    width: 50px;
    position: fixed;
}

aside #logo{
    width: 100%;
    height: 50px;
    display: flex;
}

aside #logo a{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    background: #0e0e10;
}

aside #logo img{
    max-height: 35px;
    width: 100%;
    margin: auto;
    z-index: 1;
}

aside #anchor img{
    width: 45%;
    display: flex;
    margin: auto;
    padding: 15px 0px;
}

aside #anchor a:hover{
    filter: invert(55%) 
            sepia(79%) 
            saturate(7499%) 
            hue-rotate(251deg) 
            brightness(102%) 
            contrast(101%);
}

main{
    width: 100%;
}

section{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 50px 0px;
    padding-left: 100px;
}

section h2.subtitle{
    width: 100%;
    padding: 25px 0px;
}

#home{
    background: #9146ff;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 250px;
}

#home #repeat{
    position: absolute;
    margin: none;
    padding: none;
}

#home #name{
    width: 55%;
    margin: auto;
    transform: translate(0,-58%);
}

#name h1, #name h2{
    width: 100%;
    text-align: center;
}

#name h1{
    font-size: 14vh;
    line-height: 0.5;
}

#name h2{
    font-size: 7vh;
    -webkit-text-stroke: 1px #efeffe;
    color: transparent;
}


#home #pic{
    width: 45%;
    max-width: 750px;
}

#pic img{
    width: 100%;
}

#clips{
    display: flex;
    flex-flow: row;
}

#clips{
    gap: 15px;
}

.vid img{
    width: 350px;
    aspect-ratio: 16/9;
}

.vid h3{
    font-size: 20pt;
    font-weight: 500;
}

#clipTitle{
    background: #9146ff;
    border-radius: 10px;
    width: 150px;
    aspect-ratio: 1/1.75;
    display: flex;
    flex-flow: row wrap;
}

#clipTitle h2{
    width: 70%;
    margin: auto;
}

#category{
    gap: 0px 15px;
}

.poster img{
    background: white;
    width: 175px;
    aspect-ratio: 3/4;
}

.poster h4{
    font-weight: 500;
}

#friends{
    margin-bottom: 50px;
}

.friend{
    width: 175px;
}

.friend img{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2.5px solid #535256;
    margin: auto;
    display: flex;
}

.friend h4, .friend p{
    text-align: center;
}

.friend h4{
    padding-top: 12px;
}

footer{
    background: #401c88;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

footer h1{
    font-weight: bold;
    text-align: center;
}

/* Background */
#backstory{
    background: #9146ff;
}

#backstory #text{
    width: 66%;
    display: flex;
    flex-flow: row wrap;
}

#backstory h1{
    width: 100%;
    font-size: 70pt;
}

#backstory p{
    font-size: 12pt;
    width: 100%;
}

#backstory img{
    width: 33%;
    height: 100%;
    transform: translateY(50px);
}

#points{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    gap: 50px 0px;
    margin: auto;
    margin-bottom: 100px;
}

.point{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

.point img{
    width: 50%;
    aspect-ratio: 16/9;
}

.point .text{
    width: 50%;
    padding-left: 15px;
}

.point h2{
    font-size: 20pt;
    font-weight: 500;
    line-height: 0.6;
}

.point h3{
    font-size: 10pt;
    font-weight: 400;
}

.point p{
    font-size: 10pt;
    font-weight: 300;
}

/* Claim to Fame */
#claim-to-fame{
    background: #9146ff;
    padding: 100px 150px;
    padding-right: none;
}
#title {
    width: 250px;
    display: flex;
    flex-flow: row wrap;
}

#claim-to-fame #vid{
    background: #1f1f23;
    width: 50%;    
    min-width: 500px;
    max-width: 750px;
    aspect-ratio: 16/9;
}


#claim-to-fame #vid #title{
    padding-left: 25px;
    height: 50px;
}

#claim-to-fame #title img{
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2.5px solid #535256;
    margin: auto;
    display: flex;
}

#claim-to-fame #title #text{
    padding-left: 10px;
    width: 75%;
    margin: auto;
}

#claim-to-fame #vid #text p{
    font-weight: 300;
}

#ctf{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

#ctf h1{
    width: 100%;
    text-align: center;
}

#ctf #claim, #ctf #fame{
    font-size: 80pt;
}

#ctf #to{
    font-size: 60pt;
}

#notable{
    margin-right: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
}

#notable .moment{
    width: calc(25% - 15px);
    margin: auto;
    margin-bottom: 50px;
}

#notable .moment #vid{
    background: #1f1f23;
    width: 100%;
    aspect-ratio: 16/9;
}

#notable .moment h3{
    padding-top: 10px;
    font-weight: 500;

}

#notable .moment #vid:hover{
    box-shadow: -10px 10px #9146ff;
}
